body {
}

#banner {
	width:100%
}
.principal{
	background: #1100ff;
	padding: 30px
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p{
	text-align: center;
}

#missao {
	font-size: 20px;
	color: #1100ff;
}

em strong {
	color: #1100ff;
}

.itens {
	font-style: italic;
}
.Benefícios {
	background: #1100ff;
	padding: 20px
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}
